# Importing modules

In [1]:

import pandas as pd 
import matplotlib as plt
import numpy as np

# Importing data

In [2]:
purchase_behaviour=pd.read_csv("QVI_purchase_behaviour.csv")
transection_data=pd.read_excel("QVI_transaction_data.xlsx")

# Exploring data

In [4]:
purchase_behaviour.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [5]:
transection_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

# Analysing Data

### Let's see if the higher sales are due to there being more customers who buy chips.

In [ ]:
purchase_behaviour["LIFESTAGE"].value_counts().plot.bar()
plt.show()